#main-container{
    background-image: url('resources/background3.jpg');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    height: 100vh;
    min-width: 650px;
}

#upload-image-div{
    text-align: center;
    width: 100%;
}

#upload-image-div h1{
    color: #0E0B0B;
    font-weight: bold;
}

.veredict{
    margin-top: 30px;
}

.navbar{
    height: 18vh;
}

/deep/ .img-ul {
    margin: 0 auto;
    margin-top: 20px;
    width:600px !important;
    background-color: rgba(255, 255, 255, 0.80) !important;
    color: black !important;
    font-size: 18px !important;
}
.preview{
    margin-top:40px;
    max-width: 300px;
}

#select-classifier{
    margin: 0 auto;
    margin-top:30px;
    width: 300px;
}

#upload{
    margin: 0 auto;
    text-align: center;
    margin-top:30px;
    width: 200px;
    height: 40px;
    border-radius: 4px;
    background-color: #D1D1D1 !important;
    color: #0E0B0B;
}