<div class="container-fluid " id="main-container">
  <div class="container-fluid navbar"></div>
  <div class="row" id="main-row">
    <div class="col-sm-12" id="upload-image-div">
      <h1>UPLOAD IMAGE</h1>

      <image-upload
        [max]="1"
        [preview]="false"
        [buttonCaption]="'Select Image'"
        [dropBoxMessage]="'Drop your image here'"
        (uploadFinished)="onUploadFinished($event)"
        (removed)="onRemoved($event)">
      </image-upload>

      <img class="preview" *ngIf="logo" [src]="logo" alt="Preivew">
      <select class="form-control" id ="select-classifier" [(ngModel)]="selectedOption" *ngIf="logo">
        <option [value]="2">Binary classifier</option>
        <option [value]="3">Multiple classifier</option>
      </select>
      <button type="button" class="btn-success"id="upload" *ngIf="image && !veredict.street" (click)=uploadImage()>PREDICT</button>
      <h3 class="veredict" *ngIf="veredict.street">{{veredict.street}} % street</h3>
      <h3 class="veredict" *ngIf="veredict.property">{{veredict.property}} % property</h3>
      <h3 class="veredict" *ngIf="veredict.grass">{{veredict.grass}} % grass</h3>
    </div>
  </div>
</div>
